!!!
-# Main application layout
-# Includes meta options, flash message and environment settings
-# Includes header and footer content
%html
  %head
    %title FYN - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss


    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different web browser, or alternatively contact the CiCS Helpdesk for assistance.

    %nav#main-nav.navbar.navbar.navbar-default{role: :navigation}
      .navbar-header
        %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse}, type: :button}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to :root, title: "Go to the home page", identifier: :home, :class=>'navbar-brand' do
          =image_tag "fyn.jpg", height:'80', alt: 'Foundation Year Network Logo'

      .collapse.navbar-collapse
        %ul.navbar-nav.navbar-right
          = navbar_link_to 'Home',:root, title: "Go to the home page", :class => 'nav-item nav-link'
          = navbar_link_to 'Degrees', degree_search_path, title: "Go to Degree Search Page", :class => 'nav-item nav-link'
          = navbar_link_to 'Conference',static_page_path('conference'), title: "Go to Conference Page", :class => 'nav-item nav-link'
          %li.dropdown
            .dropdown-toggle.disabled{data: {toggle:'dropdown'}}
              = link_to 'About', about_path, title: "About Us", :class => 'nav-item nav-link', role: 'hover'
              %span.caret
            %ul.dropdown-menu.dropdown-menu-left
              = navbar_link_to 'Constitution',static_page_path('constitution'), title: "Go our constitution page", :class => 'nav-item nav-link'
              = navbar_link_to 'Blog',blogs_path, title: "Go to our blogs page", :class => 'nav-item nav-link'
              = navbar_link_to 'Members',members_path, title: "Go to our members", :class => 'nav-item nav-link'
              = navbar_link_to 'Get Involved',static_page_path('get_involved'), title: "Learn how to get involved", :class => 'nav-item nav-link'
              = navbar_link_to 'Contact Us',static_page_path('contact'), title: "Find out how to contact us", :class => 'nav-item nav-link'
              = navbar_link_to 'Privacy Policy',static_page_path('privacy_policy'), title: "Read our privacy policy", :class => 'nav-item nav-link'
          = navbar_link_to 'Help',static_page_path('help'), title: "Go to Help Page", :class => 'nav-item nav-link'

          - if user_signed_in?
            %li.dropdown
              .dropdown-toggle.disabled.user-dropdown{data: {toggle:'dropdown'}}
                = link_to member_path(@current_user.member), title: 'View your profile', class: 'nav-item nav-link' do
                  = fa_icon 'user', text: current_user.member.name
                %span.caret
              %ul.dropdown-menu.dropdown-menu-right.login-dropdown
                %li
                  = link_to destroy_user_session_path, method: :delete, title: "Log out", class: 'nav-item nav-link' do
                    = fa_icon 'sign-out', text: 'Log Out'
          -else
            %li.login
              = link_to 'Login', login_path, title: "go to Login Page", :class => 'login-button btn btn-primary'


          -# - if user_signed_in?
            -#   %ul.nav.navbar-nav.navbar-right
            -#     %li.dropdown
            -#       = link_to '#', data: { toggle: :dropdown }, class: 'dropdown-toggle', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
            -#         = fa_icon 'user', text: current_user.email
            -#         %b.caret
            -#       %ul.dropdown-menu
            -#         %li
            -#           = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
            -#             = fa_icon 'sign-out', text: 'Log out'
    #wrap
      = yield

    %footer#footer
      =link_to "News", blogs_path, :class => 'footer-link'
      =link_to "Contact", static_page_path('contact'), :class => 'footer-link'
      =link_to "About", about_path, :class => 'footer-link'
      =link_to "Get Involved", static_page_path('get_involved'), :class => 'footer-link'
      =link_to "Privacy Policy", static_page_path('privacy_policy'), :class => 'footer-link'
      %p.footer-copyright
        &copy;#{Date.today.year} Foundation Year Network &
        = link_to 'University of Sheffield', 'https://www.sheffield.ac.uk', target: '_blank', title: 'Goto University of Sheffield website'
        students: Luke Peacock, Seth Faulkner, Mathew Prestwich, Dean Knott, Luke Markie
